@use './live/live.module.scss';

$bg-primary: #00a7e6;
$bg: #f6f6f6;

.subtitle {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: gray;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 50px;
    }
}