.about-container {
    width: 100vw;
    height: 30rem;
    margin-top: 1rem;

    .about-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 100%;

        .about-image-container {
            width: 20rem;
        }

        .about-text {
            text-align: center;
            justify-content: center;
            align-items: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            width: 50%;

        }
    }

}

.reservation-container {
    width: 100vw;
}

.about-image {
    max-width: 100%;
    height: auto;
}

.reservation {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}