

.descriptionlive{
    width: 78rem;
    height: 100rem;
    background-color:#f6f6f6;
}
.description-content{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pentagon {
    position: absolute;
    width: 78rem;
    border-width: 0px 0px 350px;
    border-style: solid;
    border-color: #00a7e6 transparent;
  }
  .pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 350px;
    left: 0;
    border-width: 80px 39rem 0px;
    border-style: solid;
    border-color: #00a7e6 transparent transparent;
  }