.live {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    
}

.counter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin: 0;
    }
}

.container-counter {
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 1rem;
    margin-left: 5rem;

    .counter-item {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
            font-size: 1rem;
            color: black;
        }

        h1 {
            font-size: 2rem;
            font-weight: bold;
            border: 1px solid #444;
            padding: 1rem;
            margin: 10px 0;
            color: black;
        }
    }
}


.description-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    list-style-type: none;
    color: white;
    font-size: 1.3rem;
    a{
        font-size: 1.3rem;
        color: black;
    }
}

